

/* Styles for user profile image */
.profile-image {
    width: 20%;
    height: auto;
    border-radius: 50%; /* Ajoute un bord arrondi pour créer une forme circulaire */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ajoute une légère ombre */
    transition: transform 0.3s ease-in-out; /* Ajoute une transition pour une animation fluide */

  }
  
  /* Lorsqu'on survole l'image, elle se zoom légèrement */
  .profile-image:hover {
    transform: scale(1.1);
  }
  .img-fluid{
    width: 50%;
    height: auto;
    border-radius: 20%; /* Ajoute un bord arrondi pour créer une forme circulaire */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ajoute une légère ombre */
    transition: transform 0.3s ease-in-out; /* Ajoute une transition pour une animation fluide */
  }
  .img-fluid:hover {
    transform: scale(1.1);
  }
  .profile-image-navBar{
    width: 5%;
    height: auto;
    border-radius: 50%; /* Ajoute un bord arrondi pour créer une forme circulaire */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ajoute une légère ombre */
    transition: transform 0.3s ease-in-out; /* Ajoute une transition pour une animation fluide */

  }
  